<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">BEEDU.VN</a>
        <div class="input-field" style="position: absolute; height: 35px; background: white; 
            left: 220px; margin-top: 15px; width: 300px;">
            <input id="search" type="search" style = "color: black;" placeholder="search for document..." />
            <i class="material-icons" style="color: black; right: 0;">search</i>
          </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Phương pháp học Beedu</a></li>
        <li><a href="#">Chương trình học</a></li>
        <li><a href="#">Thư viện</a></li>
        <li><a href="#">Hỏi đáp</a></li>
        <li><a href="#">Giới thiệu</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Beedu.vn</h1>
        <div class="row center">
          <h5 class="header col s12 light">Thay đổi tư duy giáo dục của người Việt</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Xem thêm</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h2 class="menu-title">Phương pháp học Beedu</h2>

        <div class="col s12 m7">
            <div class="card blue-grey darken-1">
              <div class="card-image">
                <img class="card-img-content" src="images/learn-by-my-self.jpg">
                <span class="card-title">Thói quen tự học</span>
              </div>
              <div class="card-content white-text">
                <p>Beedu nêu bật tầm quan trọng của việc tự học và việc khuyến khích học sinh tự tìm tòi cách giải cho các bài tập đó</p>
              </div>
              <div class="card-action">
                <a href="#">Xem thêm</a>
              </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card blue-grey darken-1">
              <div class="card-image">
                <img class="card-img-content" src="images/side-by-side.jpg">
                <span class="card-title">Giáo dục từng cá nhân</span>
              </div>
              <div class="card-content white-text">
                <p>Phương pháp giáo dục hướng cá nhân của Beedu giúp mỗi học sinh được học ở một trình độ phù hợp nhất với khả năng của từng em.</p>
              </div>
              <div class="card-action">
                <a href="#">Xem thêm</a>
              </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card blue-grey darken-1">
              <div class="card-image">
                <img class="card-img-content" src="images/book-for-kid.jpg">
                <span class="card-title">Giáo trình phù hợp</span>
              </div>
              <div class="card-content white-text">
                <p>Giáo trình BEEDU cho phép học sinh tiến bộ bằng chính khả năng của mình.</p>
              </div>
              <div class="card-action">
                <a href="#">Xem thêm</a>
              </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card blue-grey darken-1">
              <div class="card-image">
                <img class="card-img-content" src="images/teacher-take-care.jpg">
                <span class="card-title">Giáo viên nhiệt huyết</span>
              </div>
              <div class="card-content white-text">
                <p>Vai trò của Giáo viên BEEDU là phát triển tối đa tiềm năng của từng học sinh.</p>
              </div>
              <div class="card-action">
                <a href="#">Xem thêm</a>
              </div>
            </div>
        </div>
        
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
