/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: white;
    left: 56px;
}

nav ul {
    position: absolute;
    right: 24px;
}

nav .material-icons {
    color: black;
    position: relative;
    float: right;
    margin-top: -14px;

}

nav.material-icons:hover {
    cursor: pointer;
    background-color: red;
}

nav .search {
    position: absolute;
    left: 230px;
    width: 300px;
    height: 35px;
    top: 10%;
}

nav li:hover {
    background-color: #BDBDBD;
}

nav .container {
    width: 100%;
}

nav .container-1, .container-1 input#search:focus, .container-1 {
    outline: none;
    background: #ffffff;
}

nav.label-search {
    position: absolute;
    right: 0;
}

p {
    line-height: 2rem;
}

nav.input-field {
    position: absolute;
    height: 35px;
    background: white;
    left: 220px;
    margin-top: 15px;
    width: 300px;
}

.material-icons:hover {
    cursor: pointer;
}

nav.material-icons {
    color: black;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

/*Hieu custom css*/
div, h2.menu-title{
    text-align: center;
    font-family: Roboto;
}

.card-title{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    background: rgba(0,0,0,0.5);
    width: 100%;
    text-align: left;
}

.transfer-box{
    background-color: black;
    opacity: 0.6;
}

.container {
    width: 90%;
}


.card-content{
    height: auto;
    padding: 8px !important;
}

.card-img-content{
    height: 230px
}

.contact {
    font-weight: bold;
}

h5.contact{
    text-align: center;
    font-weight: normal;
}

.youtube-background {
    width: 40px;
    height: 40px;
    background: #9E9E9E;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

div.youtube-background:hover {
    width: 40px;
    height: 40px;
    background: #F44336;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

.facebook-background {
    width: 40px;
    height: 40px;
    background: #9E9E9E;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    margin-left: 16px;
}

div.facebook-background:hover {
    width: 40px;
    height: 40px;
    background: #3F51B5;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

.googleplus-background {
    width: 40px;
    height: 40px;
    background: #9E9E9E;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

div.googleplus-background:hover {
    width: 40px;
    height: 40px;
    background: #F44336;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

table td.contact-detail{
    width: 100px;
}

.light-text{
    color: rgba(255, 255, 255, 0.5) !important;
}

.logo-social{
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.group-social{
    display: inline-flex;
}
.logo-margin{
    margin-left: 16px;
}

.second-content{
    padding-top: 24px;
    padding-left: 0px;
    margin-left: 59%;
    display: inline-block;
}

.third-content{
    padding-top: 24px;
    padding-left: 0px;
    margin-left: -40%;
    display: inline-block;
    width: 30%;
}

.class-title{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: Roboto;
    color: #212121;
}

.class-content{
    text-align: left;
    font-family: Roboto;
    color: #757575;
    font-size: 16px;
}

img.pink-link{
    width: 340px;
    height: 110px;
    position: relative;
    top: 210px;
    left: 160px;
}

img.green-link{
    width: 260px;
    height: 190px;
    border: 0;
    position: relative;
    top: 163px;
    left: -320px;
}

img.link-end{
    width: 340px;
    height: 110px;
    position: relative;
    top: 150px;
    left: 350px;;
}

.valign-wrapper{
    background: rgba(0,0,0,0.3);
}

.label-form{
    text-align: left;
}

.form-questrion{
    width: 100%;
    margin-top: 24px;
}

.question-support{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.question-title{
    font-size: 20px;
    text-align: left;
    height: 10px;
    margin-top: auto;
}

div.question{
    text-align: left;
}

div.answer{
    text-align: left;
    background-color: #E0E0E0;
    display: none;
}

.expand-less{
    display: none;
}

.parallax-container{
    background: rgba(0,0,0,0.3);
}

.library{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.description{
    color: rgba(0,0,0,0.5);
    font-family: Roboto;
    font-size: 13px;
    margin-left: 0px;
}

.document-title{
    color: black;
    font-family: Roboto;
    font-size: 15px !important;
    margin-left: 0px;
}

li.collection-item{
    text-align: left;
}

.download-count{
    display: inline-flex;
    position: absolute;
    right: 20px;
    bottom: 5px;
    margin-top: 10px;
}

.letter-text{
    text-align: left;
}

.letter{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.author-sign{
    text-align: right;
    font-weight: bold;
}

.document-name{
    font-size: 18px;
}

.full-width{
    width: 100% !important;
}

.download-footer{
    display: inline-flex;
    width: 100%;
}

.btn-download{
    height: 25px;
    line-height: 0px;
    float: right;
    padding: 10px;
    margin-left: 16px;
}

.document-item{
    display: inline-flex;
}

li.document-item{
    padding-left: 16px;
}

.icon-file{
    width: 200px;
    height: 100px;
}

div.document-info{
    text-align: left;
    margin-left: 16px;
}

.left{
    text-align: left;
}

.step{
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 5px;
    margin-left: -15px;
    margin-top: -12px;
    font-weight: bold;
    font-size: -webkit-xxx-large;
    color: white;
}

.step-content{

}

.cd-container{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 15px !important;
}

.step-title{
    margin: 0px;
    font-size: 20px !important;
}

.cd-timeline-block{
    margin: 20px !important;
}

.media-object {
    margin-bottom: 1rem;
    display: block;
    background-color: white;
}
.media-object img {
    max-width: none
}

/*foundation.css*/
.medium-4 {
    width: 33.33333%
}

.row.collapse > .column, .row.collapse > .columns, .row.small-collapse > .column, .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0
}

.row.small-uncollapse > .column, .row.small-uncollapse > .columns {
    padding-left: 30px;
    padding-right: 30px
}

@media screen and (min-width: 40em) {
    .row.medium-collapse > .column, .row.medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0
    }

    .row.medium-uncollapse > .column, .row.medium-uncollapse > .columns {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (min-width: 64em) {
    .row.large-collapse > .column, .row.large-collapse > .columns {
        padding-left: 0;
        padding-right: 0
    }

    .row.large-uncollapse > .column, .row.large-uncollapse > .columns {
        padding-left: 30px;
        padding-right: 30px
    }
}

.column, .columns {
    width: 100%;
    float: left;
    padding-left: .9375rem;
    padding-right: .9375rem
}

.column:last-child, .columns:last-child {
    float: right
}

.column.end, .end.columns {
    float: left
}

.column.row, .row.columns {
    float: none
}

.small-up-1 .column, .small-up-1 .columns {
    width: 100%;
    float: left
}

.small-up-1 .column:nth-of-type(1n), .small-up-1 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-1 .column:nth-of-type(1n+1), .small-up-1 .columns:nth-of-type(1n+1) {
    clear: both
}

.small-up-2 .column, .small-up-2 .columns {
    width: 50%;
    float: left
}

.small-up-2 .column:nth-of-type(1n), .small-up-2 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-2 .column:nth-of-type(2n+1), .small-up-2 .columns:nth-of-type(2n+1) {
    clear: both
}

.small-up-3 .column, .small-up-3 .columns {
    width: 33.33333%;
    float: left
}

.small-up-3 .column:nth-of-type(1n), .small-up-3 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-3 .column:nth-of-type(3n+1), .small-up-3 .columns:nth-of-type(3n+1) {
    clear: both
}

.small-up-4 .column, .small-up-4 .columns {
    width: 25%;
    float: left
}

.small-up-4 .column:nth-of-type(1n), .small-up-4 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-4 .column:nth-of-type(4n+1), .small-up-4 .columns:nth-of-type(4n+1) {
    clear: both
}

.small-up-5 .column, .small-up-5 .columns {
    width: 20%;
    float: left
}

.small-up-5 .column:nth-of-type(1n), .small-up-5 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-5 .column:nth-of-type(5n+1), .small-up-5 .columns:nth-of-type(5n+1) {
    clear: both
}

.small-up-6 .column, .small-up-6 .columns {
    width: 16.66667%;
    float: left
}

.small-up-6 .column:nth-of-type(1n), .small-up-6 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-6 .column:nth-of-type(6n+1), .small-up-6 .columns:nth-of-type(6n+1) {
    clear: both
}

.column.small-centered, .small-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto
}

.medium-up-1 .column, .medium-up-1 .columns {
    width: 100%;
    float: left
}

.medium-up-1 .column:nth-of-type(1n), .medium-up-1 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-1 .column:nth-of-type(1n+1), .medium-up-1 .columns:nth-of-type(1n+1) {
    clear: both
}

.medium-up-2 .column, .medium-up-2 .columns {
    width: 50%;
    float: left
}

.medium-up-2 .column:nth-of-type(1n), .medium-up-2 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-2 .column:nth-of-type(2n+1), .medium-up-2 .columns:nth-of-type(2n+1) {
    clear: both
}

.medium-up-3 .column, .medium-up-3 .columns {
    width: 33.33333%;
    float: left
}

.medium-up-3 .column:nth-of-type(1n), .medium-up-3 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-3 .column:nth-of-type(3n+1), .medium-up-3 .columns:nth-of-type(3n+1) {
    clear: both
}

.medium-up-4 .column, .medium-up-4 .columns {
    width: 25%;
    float: left
}

.medium-up-4 .column:nth-of-type(1n), .medium-up-4 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-4 .column:nth-of-type(4n+1), .medium-up-4 .columns:nth-of-type(4n+1) {
    clear: both
}

.medium-up-5 .column, .medium-up-5 .columns {
    width: 20%;
    float: left
}

.medium-up-5 .column:nth-of-type(1n), .medium-up-5 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-5 .column:nth-of-type(5n+1), .medium-up-5 .columns:nth-of-type(5n+1) {
    clear: both
}

.medium-up-6 .column, .medium-up-6 .columns {
    width: 16.66667%;
    float: left
}

.medium-up-6 .column:nth-of-type(1n), .medium-up-6 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-6 .column:nth-of-type(6n+1), .medium-up-6 .columns:nth-of-type(6n+1) {
    clear: both
}

.column.medium-centered, .medium-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto
}

.large-up-1 .column, .large-up-1 .columns {
    width: 100%;
    float: left
}

.large-up-1 .column:nth-of-type(1n), .large-up-1 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-1 .column:nth-of-type(1n+1), .large-up-1 .columns:nth-of-type(1n+1) {
    clear: both
}

.large-up-2 .column, .large-up-2 .columns {
    width: 50%;
    float: left
}

.large-up-2 .column:nth-of-type(1n), .large-up-2 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-2 .column:nth-of-type(2n+1), .large-up-2 .columns:nth-of-type(2n+1) {
    clear: both
}

.large-up-3 .column, .large-up-3 .columns {
    width: 33.33333%;
    float: left
}

.large-up-3 .column:nth-of-type(1n), .large-up-3 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-3 .column:nth-of-type(3n+1), .large-up-3 .columns:nth-of-type(3n+1) {
    clear: both
}

.large-up-4 .column, .large-up-4 .columns {
    width: 25%;
    float: left
}

.large-up-4 .column:nth-of-type(1n), .large-up-4 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-4 .column:nth-of-type(4n+1), .large-up-4 .columns:nth-of-type(4n+1) {
    clear: both
}

.large-up-5 .column, .large-up-5 .columns {
    width: 20%;
    float: left
}

.large-up-5 .column:nth-of-type(1n), .large-up-5 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-5 .column:nth-of-type(5n+1), .large-up-5 .columns:nth-of-type(5n+1) {
    clear: both
}

.large-up-6 .column, .large-up-6 .columns {
    width: 16.66667%;
    float: left
}

.large-up-6 .column:nth-of-type(1n), .large-up-6 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-6 .column:nth-of-type(6n+1), .large-up-6 .columns:nth-of-type(6n+1) {
    clear: both
}

.column.large-centered, .large-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto
}

.reveal .column, .reveal .columns {
    min-width: 0
}

.media-object {
    margin-bottom: 1rem;
    display: block
}

.media-object img {
    max-width: none
}

.thumbnail {
    border: 4px solid #fefefe;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, .2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow .2s ease-out;
    border-radius: 0;
}

.thumbnail:focus, .thumbnail:hover {
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, .5)
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .media-object.stack-for-small .media-object-section {
        display: block;
        padding: 0 0 1rem
    }

    .media-object.stack-for-small .media-object-section img {
        width: 100%
    }
}

.media-object-section {
    display: table-cell;
    vertical-align: top
}

.media-object-section:first-child {
    padding-right: 1rem
}

.media-object-section.middle {
    vertical-align: middle
}

.media-object-section.bottom {
    vertical-align: bottom
}

.group-title{
    font-size: 22px;
    font-family: Roboto;
    margin-top: 16px;
}

.small-up-2 .column, .small-up-2 .columns {
    width: 50%;
    float: left
}

.small-up-2 .column:nth-of-type(1n), .small-up-2 .columns:nth-of-type(1n) {
    clear: none
}

.small-up-2 .column:nth-of-type(2n+1), .small-up-2 .columns:nth-of-type(2n+1) {
    clear: both
}

.medium-up-3 .column, .medium-up-3 .columns {
    width: 33.33333%;
    float: left
}

.medium-up-3 .column:nth-of-type(1n), .medium-up-3 .columns:nth-of-type(1n) {
    clear: none
}

.medium-up-3 .column:nth-of-type(3n+1), .medium-up-3 .columns:nth-of-type(3n+1) {
    clear: both
}

.large-up-6 .column, .large-up-6 .columns {
    width: 16.66667%;
    float: left
}

.large-up-6 .column:nth-of-type(1n), .large-up-6 .columns:nth-of-type(1n) {
    clear: none
}

.large-up-6 .column:nth-of-type(6n+1), .large-up-6 .columns:nth-of-type(6n+1) {
    clear: both
}

.vertical-sub{
    vertical-align: sub;
}
